<h1>Start your run. Ready..Set..Go!</h1>
<div class="timer">
  <button id="start">Start</button>
  <button id="pause">Pause</button>
  <button id="reset">Reset</button>
</div>

<div class="new">
<h1>Log that jog (or it didn't happen)</h1>

  <div class="form">
    <%= render 'form' %>

    <p class="cancel"><%= link_to "back", root_path %></p>
  </div>


</div>
