<h1 id="timer">Start your run. Ready..Set..Go!</h1>
<div class="">
  <button id="reset">Reset</button>
  <button id="start">Start</button>
  <button id="pause">Pause</button>
</div>

<h1>Add a run!</h1>

<%= render 'form' %>

<%= link_to "back", root_path %>
