/*
 *= require_tree .
 *= require_self
 */


@import url(https://fonts.googleapis.com/css?family=Nobile|Righteous);

$font1: Righteous, cursive;
$font2: Nobile, sans-serif;
$font3: Verdana, sans-serif;

* {
margin: 0;
font-family: $font2;
}

nav {
background-color: #f0f0f0;
font-family: $font2;
font-size: 2em;
padding-bottom: 1em;
text-align: center;
  ul {
    list-style: none;
  }

  #logo {
    font-size: 3em;
    padding: .1em 0 .3em 0;
    color: #2899a9;
    top: 10%;
    font-family: $font1;
  }

  .navlink {
    padding-bottom: 1em;
    top: 50px;
    right: 1%;

    li {
      display: inline-block;
      margin-right: .2em;
    }

    a{
      text-decoration: none;
      color: #5ca8dc;
      border: .3em solid rgba(200, 200, 200, 0.4);
      padding: .5em;
      margin: 10px;
    }
    a:hover {
      background-color: rgba(200, 200, 200, 0.4);
    }
  }
}

.welcomename {
  display: none;
  background-color: #fff;
  color: tomato;
  position: relative;
  padding: .2em 0;
}

.new {
  margin: 2em auto;
}

.timer {
  margin: 1em;
}

.form {
  margin: 2em auto;
  font-family: $font2;
  p {
  border: .3em solid #f0f0f0;
  padding: .3em .2em;
  margin: .3em;
  width: 70%;
    .label {
      font-size: 2em;
      font-family: $font2;
      width: 50px;
      padding-right: .3em;
    }
    .text {
      font-size: 2em;
    }
    .cancel, .delete, .submit {
      background-color: red;
    }
  }
}

.note {
  font-size: 1.2em;

  strong {
    // text-decoration: underline;
    color: tomato;
  }
}

//index page
.log {
  font-family: $font3;
  font-size: 1.3em;
  font-weight: 200;
  padding: .5em;
  border-bottom: .1em solid tomato;

  a {
    text-decoration: none;
    color: #2cb673;
    font-size:.8em;
  }
  a:hover{
    text-decoration: underline;
  }
}

#longest, #lastfive, #allruns {
  margin: 1em;
  padding-top: 2em;
}


@media (min-width: 400px){
  body {
    // background-color: red;
  }
  #logo {
    font-size: 70%;
  }
  a {
    margin-right: 40px;
    text-align: center;
    width: 200px;
  }
}

@media (min-width: 800px) {
  body {
    // background-color: green;
  }
}
